@import "~bulma/sass/utilities/initial-variables";

$primary: #04f;
$primary-invert: #fff;
$body-color: #7a7c7e;
$black: #0a0c0e;



//Menu overrides
$menu-item-color: $white-ter;
$menu-item-hover-color: $black !important;
$menu-item-hover-background-color: $black;
$menu-item-active-color: $primary-invert;
$menu-item-active-background-color:	$primary-invert;
$menu-list-border-left: 1px solid $primary-invert;
$menu-label-color: $white-ter;

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  // font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* System fonts */
@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 300;
  src: local(".SFNSText-LightItalic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Light Italic"), local("Ubuntu Light Italic"), local("Roboto-LightItalic"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 400;
  src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 400;
  src: local(".SFNSText-Italic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Italic"), local("Ubuntu Italic"), local("Roboto-Italic"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 500;
  src: local(".SFNSText-Medium"), local(".HelveticaNeueDeskInterface-MediumP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold"), local("Ubuntu Medium"), local("Roboto-Medium"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 500;
  src: local(".SFNSText-MediumItalic"), local(".HelveticaNeueDeskInterface-MediumItalicP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold Italic"), local("Ubuntu Medium Italic"), local("Roboto-MediumItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 700;
  src: local(".SFNSText-Bold"), local(".HelveticaNeueDeskInterface-Bold"), local(".LucidaGrandeUI"), local("Segoe UI Bold"), local("Ubuntu Bold"), local("Roboto-Bold"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 700;
  src: local(".SFNSText-BoldItalic"), local(".HelveticaNeueDeskInterface-BoldItalic"), local(".LucidaGrandeUI"), local("Segoe UI Bold Italic"), local("Ubuntu Bold Italic"), local("Roboto-BoldItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}

/* Neue Haas Unica Pro Black */
@font-face {
  font-family: 'NeueHaasUnicaPro-Black';
  font-display: fallback; /* or block, swap, fallback, optional */
  src: local('Neue Haas Unica Pro Black'), local('NeueHaasUnicaPro-Black'), url('/fonts/NeueHaasUnicaPro-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  text-size-adjust: 100%;
  height: 100%;
  width: 100%;
}

body {
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0A0C0E;
  overflow-x: hidden;
}

body::before {
  content: '';
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  background-position: 0 0, 100% 100%, 0 0;
  background-size: 35vw, 35vw, 100% 100%;
}

.wrapper {
  height: auto;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.25s ease;
}

.client {
  margin: 2.5vw 3vw;
}

@media (min-width: 1024px) {
  body::before {
    background-size: auto, auto, 100% 100%;
  }
}

.client__grid {
  display: flex;
  flex-wrap: wrap;
  padding: 10vw;
}

.client__grid > * {
  flex: 1 1 50%;
  max-width: 50%;
}

.flex-item-20 {
  max-width: 50%;
  flex: 1 1 50%;
}

.flex-item-50 {
  max-width: 100%;
  flex: 1 1 100%;
}

.flex-align {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.flex-align--center {
  justify-content: center;
}

.flex-align--left {
  justify-content: flex-start;
}

.flex-align--right {
  justify-content: flex-end;
}

@media (max-width: 1023px) {
  .flex-align--special {
    justify-content: flex-start;
  }
}

@media (min-width: 1024px) {
  .flex-grid {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .flex-row {
    width: 100%;
    display: flex;
  }

  .full-height {
    height: 100%;
  }

  .flex-column {
    flex-direction: column;
  }

  .flex-column > * {
    width: 100%;
    max-width: 100%;
  }

  .flex-align--special {
    justify-content: center;
  }

  .flex-justify-center {
    justify-content: center;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .flex-row--center {
    align-items: center;
  }

  .flex-item-20 {
    max-width: 20%;
    flex: 1 1 20%;
  }

  .flex-item-50 {
    max-width: 50%;
    flex: 1 1 50%;
  }

  .client__grid {
    padding: 0 5vw;
  }

  .client__grid > * {
    flex: 1 1 20%;
    max-width: 20%;
  }
}

.about-text {
  line-height: 0.97;
  color: #0A0C0E;
  padding: 22vw 0;
  display: block;
  position: relative;
  margin: 0 auto;
  width: calc(288px + 288*(100vw - 400px)/1200);
}

.about-text.dark strong {
  color: #0044FF;
}

.about-text.light strong {
  color: #FFF;
}

.about-text strong {
  font-weight: normal;
}

@media (min-width: 1024px) {
  .about-text {
    margin: 0;
    padding: 0;
    left: 8vw;
  }
}

.cta {
  text-align: center;
  margin: 0 auto;
  padding: 20vw 0;
  width: calc(288px + 192*(100vw - 400px)/1200);
}

.cta__text {
  color: #fff;
  line-height: 1.07;
  margin-bottom: 10vw;
}

.cta__button {
  padding: 2vw 0;
  background-color: #fff;
  line-height: 1.475;
  text-decoration: none;
  white-space: nowrap;
  display: block;
  border-radius: 200px;
  transition: 0.15s ease;
}

.cta__button:hover {
  background-color: #0044FF;
  color: #fff;
}

@media (min-width: 1024px) {
  .cta {
    position: relative;
    padding: 0;
  }

  .cta__text {
    margin-bottom: 3vw;
  }

  .cta__button {
    padding: 1vw 3vw;
  }
}

.panel {
  position: relative;
}

.panel--outline {
  position: relative;
  margin-left: 4vw;
  margin-right: 4vw;
}

@media (min-width: 1024px) {

  .panel {
    height: 100vh;
  }

  .panel--auto {
    height: auto;
  }

  .panel--50 {
    height: 50%;
  }

  .panel--200 {
    height: 200vh;
  }

  .panel--outline {
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .panel--cta {
    position: absolute;
    left: 56%;
    top: 50%;
    width: auto;
  }

}

.stack {
  position: relative;
  width: 98%;
  margin-left: 2%;

  & .pre {
    white-space: pre;
    word-wrap: normal;
    text-align: left;
  }

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.stack-header {
  position: relative;
  padding-top: 5.6547619048%;
  white-space: nowrap;
  text-align: center;

}

.stack-header svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  fill: #003377;
}

.stack-header h1 {
  font-size: inherit;
  font-weight: normal;
  line-height: 1;
  background-color: #0A0C0E;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 70%;
  padding: 0 2%;
  display: flex;
  align-items: center;
}

.stack-content {
  color: white;
  box-shadow: 1px 3px 10px 0 rgba(0,12,14,0.50), 0 20px 40px 0 rgba(0,0,0,0.50);
  background-color: #0A0C0E;
  padding-top: 1.5%;
  will-change: transform;
}

.stack-body {
  line-height: 1.26;
  padding: 1vw 1.5vw;
  color: #003377;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .stack {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
}

@media (min-width: 1024px) {

  .stack {
    position: absolute;
    width: 42%;
    top: 6vw;
    left: 50%;
    z-index: 1;
  }

}

@media (min-width: 1024px) and (max-width: 1280px) {
  .stack-body {
    font-size: calc(16px + 1*(100vw - 1024px)/256);
    letter-spacing: -0.05em;
    padding: 1vw 0.5vw;
  }
}

.cases {
  position: relative;
}

.case {
  padding: 11vw 0;
  min-height: 100vh;
  position: relative;
}

.case:nth-child(odd)::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 4vw;
  bottom: 4vw;
  left: 4vw;
  right: 4vw;
  background-color: #fff;
}

.case:nth-child(even) .flex-align {
  justify-content: center;
}

.case:nth-child(even) .flex-align.flex-align--right {
  justify-content: flex-end;
}

.case:nth-child(even) .flex-row {
  flex-direction: row-reverse;
}

.case__details {
  position: relative;
  width: calc(288px + 384*(100vw - 400px)/1600);
  margin: 10vw auto 0;
}

.case__title {
  line-height: 1;
  font-weight: normal;
  margin-bottom: 0.313em;
}

.case__client {
  line-height: 1;
  margin-bottom: 1.524em;
  text-transform: uppercase;
}

.case__description {
  letter-spacing: 0.008em;
  line-height: 1.4;
  margin-bottom: 1.175em;
}

.case:nth-child(odd) .case__title,
.case:nth-child(odd) .case__client,
.case:nth-child(odd) .case__stack-title {
  color: #0A0C0E;
}

.case:nth-child(odd) .case__description,
.case:nth-child(odd) .case__stack {
  color: #7A7C7E;
}

.case:nth-child(even) {
  color: #fff;
}

.case__stack-title {
  line-height: 1;
  margin-bottom: 0.725em;
  text-transform: uppercase;
}

.case__stack {
  line-height: 1.4;
}

.case__device {
  position: relative;
  will-change: transform;
}

.case__device .case__device-image {
  transition: opacity 0.3s ease-out;
  opacity: 0;
}

.case__device.appear .case__device-image {
  opacity: 1;
}

.case__device--iphone {
  max-width: 420px;
  width: 64%;
  margin-left: -8%;

  border-radius: 16%;
  box-shadow: 8px 12px 25px 0 rgba(0,0,0,0.60);
}

.iphone-padding-hack {
  position: relative;
  padding-bottom: 203.85%;
  height: 0;
  width: 100%;
}

.case__device--macbook {
  width: 90%;
  top: 1%;
  right: -4vw;
  max-width: 600px;
}

.macbook-padding-hack:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 83%;
  height: 97%;
  border-bottom-left-radius: 2%;
  border-top-left-radius: 6%;
  box-shadow: 5px 12px 25px 0 rgba(0, 0, 0, .60);
}

.macbook-padding-hack:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2%;
  border-bottom-left-radius: 100%;
  box-shadow: 8px 12px 25px 0 rgba(0, 0, 0, .60);
  z-index: -1;
}

.macbook-padding-hack {
  position: relative;
  padding-bottom: 101.64%;
  height: 0;
  width: 100%;
}

.case__device--ipad {
  width: 76%;
  max-width: 600px;
  left: -4vw;
  border-radius: 7%;
  box-shadow: 8px 12px 25px 0 rgba(0,0,0,0.60);
}

.ipad-padding-hack {
  position: relative;
  padding-bottom: 114.47%;
  height: 0;
  width: 100%;
}

.case__svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {

  .case {
    position: relative;
    height: 100vh;
    padding: 0;
  }

  .case:nth-child(odd)::before {
    top: 1vw;
    bottom: 1vw;
    left: 1vw;
    right: 1vw;
  }

  .case__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .case__details {
    margin: 0;
  }

  .case__device--iphone {
    max-width: 100%;
    width: 52%;
    margin: 0 auto;
  }

  .case__device--macbook {
    max-width: 100%;
    width: 92%;
    right: -4vw;
  }

  .case__device--ipad {
    max-width: 100%;
    left: -4vw;
  }
}

/*  color */
.color-blue {
  color: #0044FF;
}

.dark {
  color: #0A0C0E;
}

.blue-highlight {
  color: #0066FF;
}

.white {
  color: #fff;
}

.grey {
  color: #8a8c8e;
}

.light-gray {
  color: #7A7C7E;
}


/* font-weight */
.bold {
  font-weight: bold;
}

.weight-300 {
  font-weight: 300;
}

.weight-700 {
  font-weight: 700;
}

.weight-800 {
  font-weight: 800;
}

/* letter-spacing */
.letter-spacing-xs {
  letter-spacing: .008em;;
}

.letter-spacing-s {
  letter-spacing: .011em;
}

.letter-spacing-m {
  letter-spacing: -.033em;
}

.letter-spacing-l {
  letter-spacing: -0.05em;
}


/* z-index */
.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

/* font-family */

.font-system {
  font-family: system-ui, serif;
}

.font-heading {
  font-family: "NeueHaasUnicaPro-Black", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

/* responsive */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.svg-responsive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-white {
  position: relative;
}

.bg-white::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 4vw;
  bottom: 4vw;
  left: 4vw;
  right: 4vw;
  background-color: #fff;
}

.stagger {
  opacity: 0;
  transform: translate3d(50px, 0, 0);
}

.fade-in-down {
  opacity: 0;
  transform: translate3d(0, -50px, 0);
}

.fade-in-up {
  opacity: 0;
  transform: translate3d(0, 50px, 0);
}

@media (max-width: 1023px) {
  .hidden-mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  .bg-white::before {
    top: 1vw;
    bottom: 1vw;
    left: 1vw;
    right: 1vw;
  }

}

/* helper classes */

.spacer {
  height: 100%;
}

@media (min-width: 1024px) {
  @supports not (-webkit-overflow-scrolling: touch) {
    .fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      backface-visibility: hidden;
    }
  }
}

.fluid-typo-tiny {
  font-size: calc(14px + 5*(100vw - 400px)/1200);
}

.fluid-typo-xs {
  font-size: calc(16px + 3*(100vw - 400px)/1200);
}

.fluid-typo-s {
  font-size: calc(21px + 2*(100vw - 400px)/1200);
}

.fluid-typo-m {
  font-size: calc(22px + 11*(100vw - 400px)/1200);
}

.fluid-typo-l {
  font-size: calc(33px + 12*(100vw - 400px)/1200);
}

.fluid-typo-xl {
  font-size: calc(33px + 33*(100vw - 400px)/1200);
}

